<footer class="footer sm:footer-horizontal footer-center bg-neutral text-neutral-content p-4">
  <aside>
    <a href="https://www.francisco-dev.cl/" target="_blank">
      <p>
        Copyright © {new Date().getFullYear()} - francisco-dev.cl
      </p>
    </a>
  </aside>
</footer>