---
import { getImage } from "astro:assets";

import imgHeader from "../assets/images/main_background.jpg"

const bg = await getImage({
  src: imgHeader,
  format: "jpg",
});

const { 
  title, 
  subtitle, 
  HeaderImage = bg.src
} = Astro.props;
---

<section 
  class="relative h-80" 
  style={`
    background-image: url(${HeaderImage});
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  `}>
  
  <div class="absolute inset-0 bg-gradient-to-br from-blue-900/70 to-green-900/70"></div>
  
  <div class="relative h-full flex items-center justify-center text-center text-white px-4">
    <div>
      <h1 class="text-5xl md:text-6xl font-bold mb-4">{title}</h1>
      <p class="text-xl md:text-2xl max-w-3xl mx-auto">
        {subtitle}
      </p>
    </div>
  </div>
</section>