@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default
};

@view-transition {
	navigation: auto;
}

html {
  scroll-behavior: smooth;
}

/* Chrome, Safari */
body::-webkit-scrollbar{
  display: none !important;
}

html::-webkit-scrollbar{
  display: none !important;
}

/* Para Firefox */
body {
  scrollbar-width: none !important; 
}

html {
  scrollbar-width: none !important; 
}