---
import "../assets/app.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>CéspedPro Chile</title>
	</head>
	<body class="min-h-screen bg-gradient-to-br from-green-50 to-blue-50">
		<slot />
	</body>
</html>